<h1>User Data Table</h1>

<article class="content">
  <table style="border: 5px">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Changes</th>
      </tr>
    </thead>
    <tbody id="tablebody">
      <% data.forEach(user => { %>
      <tr id="<%= user._id %>">
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td>
          <button onclick="toggleEdit('<%= user._id %>')">Edit</button>
          <button onclick="deleteItem('<%= user._id %>')">Delete</button>
        </td>
      </tr>
      <tr class="<%= user._id %>" style="display: none">
        <td>
          <form action="/" id="editForm" data-user-id="<%= user._id %>">
            <select id="editOption" name="editOption">
              <option value="username">Username</option>
              <option value="email">Email</option>
              <option value="phone">Phone</option>
            </select>
            <input type="text" id="editInput" name="editInput" placeholder="" />
            <span id="Error"></span>
            <br />
            <button id="editButton" type="submit" style="margin-top: 5px">
              Update
            </button>
          </form>
        </td>
      </tr>

      <% }); %>
    </tbody>
  </table>
</article>

<p>This data is getting (STORE/EDIT/DELETE) in the MongoDB aswell.</p>
